<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    .el-tabs {
      margin: 0 100px;
    }
    h1 {
      font-size: 40px;
      text-shadow: 5px 5px 5px black, 0px 0px 2px black;
      color: white;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1 align="center">toplist</h1>

    <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick">
      <el-tab-pane v-for="(item, index) in siteType" :key="item._id" :name="item.name" :label="item.name">
        <template>
          <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
              prop="rank"
              label="排名"
              width="180">
            </el-table-column>
            <el-table-column
              prop="title"
              label="标题"
              >
            </el-table-column>
            <el-table-column
              label="链接"
              >
              <template slot-scope="scope">
                <a :href="scope.row.url">链接</a>
              </template>
            </el-table-column>
          </el-table>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</body>
  <!-- import Vue before Element -->
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
  <!-- import JavaScript -->
  <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          visible: false,
          activeName:'糗事百科',
          tableData: [],
          siteType:[],
        }
      },
      methods: {
        handleClick(tab, event) {
          console.log(this.activeName, '---')
          target = this.activeName
          axios.get('/api/entry?target='+target+'&format=json')
            .then(response => (this.tableData = response.data))
        }
      },
      mounted() {
        axios.get('/api/entry?target='+this.activeName)
          .then(response => (this.tableData = response.data))
        axios.get('/api/site')
          .then(response => (this.siteType = response.data))
      }
    })
  </script>
</html>

